###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#       
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

define contact{
        contact_name                    adh			; Short name of user
	use				generic-contact		; Inherit default values from generic-contact template (defined above)
        alias                           Andrew Hollingsworth	; Full name of user

        email                           adh+mvalerts@techopsguru.com	;
        }

define contact{
        contact_name                    jed			; Short name of user
	use				generic-contact		; Inherit default values from generic-contact template (defined above)
        alias                           Jed sundwall		; Full name of user

        email                           jed@measuredvoice.com	;
        }

define contact{
        contact_name                    chris			; Short name of user
	use				generic-contact		; Inherit default values from generic-contact template (defined above)
        alias                           Chris Radcliff		; Full name of user

        email                           chris@measuredvoice.com	;
        }

###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

define contactgroup{
        contactgroup_name       mvalerts
        alias                   Measured Voice Alerts
        members                 adh,chris,jed
        }

define contactgroup{
        contactgroup_name       mvalerttest
        alias                   Measured Voice Alert Testing
        members                 adh
        }
